:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  color: var(--text-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graph-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100%;
}

.navigation {
  overflow-y: auto;
  user-select: none;
  width: 30%;
  border-right: var(--line-width) solid var(--line-color);
}

.navigation::-webkit-scrollbar {
  width: 10px;
}

.navigation::-webkit-scrollbar-track {
  background: white;
  margin-right: 10px;
}

.navigation::-webkit-scrollbar-thumb {
  background: var(--line-color);
  border-radius: 5px;
}
