<br>
<br>
<br>
<h1>Graph Visualizer</h1>
<p class="principal-description">This project aims to help you to create beautiful graphs only makink clicks. As you
  can see, you can create,
  update or deletes nodes and edges</p>
<br>
<h1>How to draw?</h1>
<hr />
<h2>For a Node</h2>
<p>To create a node press <strong>SHIFT + Click</strong></p>
<p>To change the position of a node maintain <strong>Click in a node</strong></p>
<p>To delete a node press <strong>CRTL + Click</strong></p>
<hr />
<h2>For an Edge</h2>
<p>To create an edge, press <strong>ALT + Click</strong> on a node and then press <strong>ALT + Click</strong> in
  another node</p>
<p>To update an edge, press <strong>Double Click</strong> on an edge, then in the input, provide the new value for
  the weight</p>
